
<div class="card">
    <div class="card-horizontal">
        <div class="card-body">
            <h1>Educación</h1>
        </div>
        <div class="card-footer">
            <a href="#"  ><img [src]="datoPortfolio.suma" alt="logo" id="add"></a>
        </div>
    </div>
</div>
    
    <div *ngFor="let educacion of educationList" >
        <div class="card">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                    <img [src]="educacion.img" alt="logo" id="educa">
              </div>
             <div class="card-body">
                    <h4> <h2>{{educacion.name}} <h3>{{educacion.start}}/{{educacion.end}}</h3></h2></h4> 
                    <p class="card-text">{{educacion.description}}</p>
             </div>
             <div class="card-footer">
                
                <br>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-primary">Borrar</a>
            </div>
            </div>
        </div>
    </div>
