.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    color:white;
    background-color: #C2684A;
}

#proyec{
    width: 80px;
    margin-left: 26px;
    margin-top: -10px;
}