<div class="container">
    <div class="row">
        <h2 class="fw-bold text-center py-5">Bienvenido</h2>
        <!--Login-->
        <form action="#">
            <div class="mb-4">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="usuario" #user>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" #password>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-btn-success" (click)="validateUser(user.value, password.value)">Iniciar Sesión</button>
            </div>
        </form>

    </div>
</div>
