<div>
    <div class="card">
        <div class="card-horizontal">
            <div class="card-body">
                <h1>Experiencia Profesional</h1>
            </div>
            <div class="card-footer">
                <a href="#"  ><img [src]="datoPortfolio.suma" alt="logo" id="add"></a>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let job of jobList" >
    <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
                <img [src]="job.img" alt="logo" id="trabajo">
          </div>
         <div class="card-body">
                <h4 class="card-title">{{job.name}} <h3>{{job.start}}/{{job.end}}</h3></h4>
                <h5>{{job.position}}</h5>
                <p class="card-text">{{job.description}}</p>
            </div>
         <div  class="card-footer">
            
            <br>
            <a href="#" class="btn btn-primary">Editar</a>
            <a href="#" class="btn btn-primary">Borrar</a>
        </div>
        </div>
    </div>
</div>