<a [href]="datoRedes.urlGit" target="_blank">
    <img [src]="datoRedes.icoGit" id="git" alt="logo Github">
</a>
<a [href]="datoRedes.urlFace" target="_blank">
    <img [src]="datoRedes.icoFace" id="face" alt="logo Facebook">
</a>
<a [href]="datoRedes.urlInsta" target="_blank">
    <img [src]="datoRedes.icoInsta" id="insta" alt="logo Instagram">
</a>
<a [href]="datoRedes.urlLinke"target="_blank" >
    <img [src]="datoRedes.icoLinke" id="linke" alt="logo LinkedIn">
</a>
<a routerLink="login">
    <button class="btn btn-success">Login </button> 
</a>
     