<div>
    
    <div class="card">
        <div class="card-horizontal">
            <div class="card-body">
                <h1>Hard & Soft</h1>
            </div>
            <div class="card-footer">
                <a href="#"  ><img [src]="datoPortfolio.suma" alt="logo" id="add"></a>
            </div>
        </div>

    <div *ngFor="let skill of skillList" >
        <div class="card">
            <div class="card-horizontal">
              
             <div class="card-body">
                <p>{{skill.description}}</p>
                    <div class="progress-bar" role="progressbar" style="width: 50%" [ngStyle]="{'width.%':skill.percent}" aria-valuemin="0" aria-valuemax="100">{{ skill.percent}} %</div><br>                  
                
                   
             </div>
             <div class="card-footer">
               
                <br>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-primary">Borrar</a>
            </div>
            </div>
        </div>
    </div>
</div>