.row{
    padding: 20px;
}


.progress-bar{
    background-color: #C2684A;
    margin-left:25px;
}

.progress {
    width: 800px;
}
h1{
    margin-left:25px;
}
p{
    font-weight: bold;
    display: inline;
    margin-left:25px;
}

