<div>
    <div class="card">
        <div class="card-horizontal">
            <div class="card-body">
                <img [src]="datoPortfolio.photo" alt="foto Walter Gimenez" class="img-fluid" id="gim">
                <img [src]="datoPortfolio.pencil" alt=" logo editar" class="img-fluid" [id]="datoPortfolio.pencilId">
            </div>
            <div class="card-footer">
                <img [src]="datoPortfolio.photoMin" alt="logo Ministerio de Desarrollo" id="desarrollo">
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-horizontal">
            <div class="card-body">
                <h1>Acerca de</h1>
                <p class="acerca">{{ datoPortfolio.about }} <br> {{ datoPortfolio.about2 }}</p>
            </div>
            <div class="card-footer">
                <img [src]="datoPortfolio.pencil" alt=" logo editar" class="img-fluid" [id]="datoPortfolio.pencilId">
            </div>
        </div>
    </div>
</div>

