<div>

<div class="card">
    <div class="card-horizontal">
        <div class="card-body">
            <h1>Proyectos</h1>
        </div>
        <div class="card-footer">
            <a href="#"  ><img [src]="datoPortfolio.suma" alt="logo" id="add"></a>
        </div>
    </div>

<div *ngFor="let proyecto of proyectList" >
    <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
                <img [src]="proyecto.photo" alt="logo" id="proyec">
          </div>
         <div class="card-body">
                <h4 class="card-title"> <h2>{{proyecto.name}}</h2></h4> 
                <p class="card-text">{{proyecto.description}}</p>
         </div>
         <div class="card-footer">
            
            <br>
            <a href="#" class="btn btn-primary">Editar</a>
            <a href="#" class="btn btn-primary">Borrar</a>
        </div>
        </div>
    </div>
</div>